.input-container{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 21px 0;
    input{
    margin-right: 10px;
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;

    }
    button{
        padding: 8px 20px;
        border: none;
        outline: none;
        color: white;
        background-color: black;
    }
}